[submodule "appits/localizacionO15"]
	path = appits/localizacionO15
	url = git@github.com:appits/localizacionO15.git
	branch = development

[submodule "appits/IT-Sales-Standar-Localizado"]
	path = appits/IT-Sales-Standar-Localizado
	url = git@github.com:appits/IT-Sales-Standar-Localizado.git
	branch = development
